# integration tests for nuxt ecosystem - single run of selected testsuite
name: nuxt-ecosystem-ci-selected

env:
  # 7 GiB by default on GitHub, setting to 6 GiB
  # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
  NODE_OPTIONS: --max-old-space-size=6144
  # configure corepack to be strict but not download newer versions or change anything
  COREPACK_DEFAULT_TO_LATEST: 0
  COREPACK_ENABLE_AUTO_PIN: 0
  COREPACK_ENABLE_STRICT: 1

on:
  workflow_dispatch:
    inputs:
      refType:
        description: type of nuxt ref to use
        required: true
        type: choice
        options:
          - branch
          - tag
          - commit
          - release
        default: branch
      ref:
        description: nuxt ref to use
        required: true
        type: string
        default: main
      nitro:
        description: the version of nitro to use
        type: choice
        options:
          - v3 nightly
          - v2 nightly
          - v2 latest
        default: v2 latest
      repo:
        description: nuxt repository to use
        required: true
        type: string
        default: nuxt/nuxt
      suite:
        description: testsuite to run
        required: true
        type: choice
        options:
          - starter
          - content
          - ui
          - image
          - pinia
          - examples
          - example-layers-monorepo
          - bridge
          - nuxt-com
          - vite-pwa
          - docus
          - og-image
          - histoire
          - elk
          - devtools
          - fonts
          - scripts
          - icon
          - cli
          - test-utils
          - module-builder
          - sanity-module
          - tailwindcss
          - sitemap
          - i18n-module
          # - werewolves-assistant
          - antoine-zanardi-portfolio
          - storybook
jobs:
  execute-selected-suite:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - run: corepack enable
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
      - uses: oven-sh/setup-bun@3d267786b128fe76c2f16a390aa2448b815359f3 # v2
        with:
          bun-version: latest
      - uses: denoland/setup-deno@11b63cf76cfcafb4e43f97b6cad24d8e8438f62d # v1
        with:
          deno-version: v2.x
      - run: pnpm i --frozen-lockfile
      - run: >-
          pnpm test
          --${{ inputs.refType }} ${{ inputs.ref }}
          --repo ${{ inputs.repo }}
          ${{ inputs.suite }}
        id: ecosystem-ci-run
        env:
          NUXT_UI_PRO_TOKEN: ${{ secrets.NUXT_UI_PRO_TOKEN }}
          NUXT_UI_PRO_LICENSE: ${{ secrets.NUXT_UI_PRO_TOKEN }}
          NITRO_VERSION: ${{ inputs.nitro }}
      - if: always()
        run: node --experimental-strip-types --disable-warning=ExperimentalWarning discord-webhook.ts
        env:
          WORKFLOW_NAME: ci-selected
          REF_TYPE: ${{ inputs.refType }}
          REF: ${{ inputs.ref }}
          REPO: ${{ inputs.repo }}
          SUITE: ${{ inputs.suite }}
          STATUS: ${{ job.status }}
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
